<% layout("layouts/boilerplate") %>
    <h1>Edit the <%= campground.title %> campground:</h1>

    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">

            <div class="mb-3"><label class="form-label" for="title">Edit the campground name:</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%= campground.title %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3"><label class="form-label" for="location">Edit the campground location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%= campground.location %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Edit the campground price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="price"
                        name="campground[price]" id="price" aria-describedby="price-label"
                        value="<%= campground.price %>" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3"><label class="form-label" for="image">Add images:</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Edit the campground description</label>
                <textarea class="form-control" type="text" id="description" required
                    name="campground[description]"><%= campground.description %></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-info mb-2">Edit campground</button>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-success mb-2">Cancel and go back to campground
                page</a>

        </form>
        <a href="/campgrounds" class="btn btn-primary">Back to all campgrounds</a>
    </div>