<% layout("layouts/boilerplate") %>
    <h1>Edit the <%= campground.title %> campground:</h1>

    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <label for="title">Edit the title</label>
        <input type="text" name="campground[title]" id="title" value="<%= campground.title %>">
        <label for="location">Edit the location</label>
        <input type="text" id="location" name="campground[location]" value="<%= campground.location %>">
        <button>Edit Campground</button>
    </form>

    <a href="/campgrounds/<%=  campground._id%>">Back to campground</a>